<div style="padding-top: 20px">
  <%= link_to "Add P/R", new_pullrequest_path, :class => "btn btn-info", :id => "my-id" %>
</div>
<table class="table">
<thead>
<tr>
  <th>Username</th>
  <th>Nick Name</th>
  <th>Ip server</th>
  <th style="width: 30%">Link</th>
  <th>Note</th>
  <th>Action</th>
</tr>
</thead>
  <tbody>
  <% @pullrequests.each do |item| %>
      <tr>
        <th><%=item.username%></th>
        <th><%=item.nickname%></th>
        <th><a href="http://<%=item.ipserver %>" target="_blank"><%=item.ipserver%></a></th>
        <th style="width: 30%"><a href="<%=item.linkpullrequest %>"><%=item.linkpullrequest%></a></th>
        <th><%=raw(item.note) %></th>
        <th>
          <%- if current_user.present?%>
              <%- if item.user_id.present? %>
                  <%- if item.username.eql?(current_user.email) %>
                      <%= link_to 'Delete', pullrequest_path(id:item.id), class: 'navbar-brand', :method => 'delete' %>
                  <% end %>
              <%- else %>
                  <%= link_to 'Delete', pullrequest_path(id:item.id), class: 'navbar-brand', :method => 'delete' %>
              <% end %>
          <% end %>

        </th>
      </tr>
  <%end %>
  </tbody>
</table>


